# ============================================================
# VARIABLES DE ENTORNO - RAG CON N8N Y QDRANT
# ============================================================

POSTGRES_USER=userrag
POSTGRES_PASSWORD=passwordrag
POSTGRES_DB=ragdb

JARVIS_API_URL=https://jarvis.ieshlanz.es
LLM_MODEL=qwen2.5-7b-instruct
EMBEDDING_MODEL=mistral

N8N_PORT=5679

# ------------------------------------------------------------
# pgAdmin
# ------------------------------------------------------------
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_CONFIG_MAX_LOGIN_ATTEMPTS=5
PGADMIN_PORT=5051